body{
    background-image: url('images.jpg');
    background-attachment:fixed
    
}

*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
}
.container{
    margin:10px auto;
    width: 900px;
    height: 500px;
    position: relative;
     
}

.container img{
    position:absolute;
    opacity:0;
    transition:  2s;
    z-index: 1;
    height: 500px;
    width: 900px;
    border-radius: 50px;

}

.container img.active{
    opacity:1;
}
.container .number{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #848484;
    padding: 5px;
    font-size: 20px;
    z-index: 2;
    border-radius:15px;

}
.content{
    margin: auto;
    width: 900px;
}
.content .prev,
.content .next{
    background: #91FFB9;
    color: #9B3E3E;
    font-weight: bold;
    border-radius: 10px;
    width:20%;
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
    text-align: center;
}
.content .prev{
    float: left;
}
.content .next{
    float: right;
}
.content .prev.disapled,
.content .next.disapled{
    cursor: no-drop;
    background: gray;
}
.content .pullt{
    width: 60%;
    float: left;
}
.content .pullt ul{
list-style: none;
text-align: center;
}
.content .pullt ul li{
    display: inline-block;
    background: #91FFB9;
    width: 25px;
    height: 25px;
    color: #9B3E3E;
    cursor: pointer;
    border-radius: 5px;
    margin:3px;
    line-height: 30px
}
.content .pullt ul li.active{
    background: #3A8700;
}
h3{
text-align: center;
background: #000000;
color: #EADCDC
}
.b{
    background-color: 91FFB9;
    margin-left: -265px;
    margin-top: 58px;
    width: 104px;
    height: 33px;
    border-radius: 21px;
    cursor: pointer;
    outline: none;
}



.c{
    background-color: 91FFB9;
    margin-left: -213px;
    margin-top: 58px;
    width: 104px;
    height: 33px;
    border-radius: 21px;
    cursor: pointer;
    outline: none;
}



